{% extends 'base.html' %}

{% block header %}
    <h2>Search</h2>
{% endblock %}

{% block content %}
    {% for error in g.form_errors %}
        <div class="alert-error">{{ error }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>Search for a car, and we'll estimate its value</legend>
            <div class="control-group">
                <label class="control-label" for="car_name">Car</label>
                <div class="controls">
                    <input type="text" class="input-large" id="car_name" name="car_name" value="{{ car_name }}" />
                    <p class="help-block">Enter the year followed by the make and model, for example: 2015 Toyota Camry</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="mileage">Mileage</label>
                <div class="controls">
                    <input type="text" class="input-small" id="mileage" name="mileage" value="{{ mileage }}" />
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}